<h1>新規投稿</h1>
<% if @post_sake.errors.any? %>
  <%= @post_sake.errors.count %>件のエラーが発生しました
  <ul>
    <% @post_sake.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!-- form_with部分 -->
<%= form_with model: @post_sake, method: :post do |f| %>
  <h4>日本酒名</h4>
  <%= f.text_field :sake %>

  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>レビュー</h4>
  <%= f.text_area :comment %>


  <%= f.submit '投稿' %>
<% end %>